<div class="pricing_table_3 recent_resume_wrapper jb_cover">
  <div class="slider_small_shape44">
      <img src="../../../../assets/images/p2.png" class="img-responsive " alt="img">
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
              <div class="jb_heading_wraper">

                  <h3>Liste des demandes
</h3>

                  <p>Your next level Product developemnt company assets</p>
              </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-12">
              <div class="jp_recent_resume_box_wrapper jb_cover">
                  <div class="jp_recent_resume_img_wrapper">
                      <img src="../../../../assets/images/cmnt4.jpg" alt="resume_img" />
                  </div>
                  <div class="jp_recent_resume_cont_wrapper">
                      <h3> <a href="#">Akshay Handge</a></h3>
                      <p><i class="far fa-folder-open"></i>UI Designer</p>
                  </div>
                  <div class="jp_recent_resume_btn_wrapper">
                      <ul>
                          <li><a href="#">View Profile</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
              <div class="jp_recent_resume_box_wrapper jb_cover">
                  <div class="jp_recent_resume_img_wrapper">
                      <img src="../../../../assets/images/cmnt1.jpg" alt="resume_img" />
                  </div>
                  <div class="jp_recent_resume_cont_wrapper">
                      <h3><a href="#">aditi S.</a></h3>
                      <p><i class="far fa-folder-open"></i> I Designer</p>
                  </div>
                  <div class="jp_recent_resume_btn_wrapper">
                      <ul>
                          <li><a href="#">View Profile</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
              <div class="jp_recent_resume_box_wrapper jb_cover">
                  <div class="jp_recent_resume_img_wrapper">
                      <img src="../../../../assets/images/cmnt2.jpg" alt="resume_img" />
                  </div>
                  <div class="jp_recent_resume_cont_wrapper">
                      <h3><a href="#">Merry Foster</a></h3>
                      <p><i class="far fa-folder-open"></i>UI Designer</p>
                  </div>
                  <div class="jp_recent_resume_btn_wrapper">
                      <ul>
                          <li><a href="#">View Profile</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
              <div class="jp_recent_resume_box_wrapper jb_cover">
                  <div class="jp_recent_resume_img_wrapper">
                      <img src="../../../../assets/images/cmnt3.jpg" alt="resume_img" />
                  </div>
                  <div class="jp_recent_resume_cont_wrapper">
                      <h3> <a href="#">joahn due</a></h3>
                      <p><i class="far fa-folder-open"></i>UI Designer</p>
                  </div>
                  <div class="jp_recent_resume_btn_wrapper">
                      <ul>
                          <li><a href="#">View Profile</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="btn_hover slider_btn jobs_btn_3 vb jb_cover">
              <a href="#">view all</a>
          </div>
      </div>
  </div>
  <div class="counter_jbbb2 jb_cover">

      <img src="../../../../assets/images/line3.png" class="img-responsive" alt="img">
  </div>
</div>
